{
    :logseq-journals-calendar {:version "v0.10.10", :repo "xyhp915/logseq-journals-calendar", :effect false, :theme false}
    :logseq-vim-shortcuts {:version "v0.1.22", :repo "vipzhicheng/logseq-plugin-vim-shortcuts", :effect true, :theme false}
    :logseq-cusgit-theme {:version "1.3.2", :repo "mendax1234/logseq-cusgit-theme", :effect false, :theme true}
    :logseq-copy-code-plugin {:version "v.1.2.0", :repo "vyleung/logseq-copy-code-plugin", :effect true, :theme false}
    :ollama-logseq {:version "v1.1.6", :repo "omagdy7/ollama-logseq", :effect true, :theme false}
}
